.main {
  display: flex;
  flex-direction: column;
  margin-top: -754px;
  z-index: 1;

  @include tablet {
    margin-top: -608px;
  }

  @include mobile {
    margin-top: -592px;
  }
}

.main__wrapper {
  width: 100%;
  display: flex;
  overflow-x: hidden;
}

.main__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("../img/svg/bg-features-desktop.svg");
  background-position: -296px -29px;
  background-repeat: no-repeat;
  padding-top: 112px;
  padding-bottom: 101px;

  @include tablet {
    background-image: url("../img/svg/bg-features-tablet.svg");
    background-position: 211px 90px;
    padding-top: 54px;
    padding-bottom: 80px;
  }

  @include mobile {
    background-position: -120px 652px;
    padding-top: 37px;
    padding-bottom: 65px;
  }

  &--offers {
    background-color: $color-dark-blue;
    background-image: none;
    padding-top: 89px;
    padding-bottom: 81px;

    @include tablet {
      padding-top: 51px;
      padding-bottom: 31px;
    }

    @include mobile {
      padding-bottom: 34px;
    }
  }

  &--feedback {
    background-image: url("../img/svg/bg-form.svg");
    background-position: 110.4% 35px;
    background-color: $color-primary;
    padding-top: 92px;
    padding-bottom: 98px;

    @include tablet {
      padding-top: 80px;
      padding-bottom: 88px;
      background-image: none;
    }

    @include  mobile {
      padding-top: 30px;
      padding-bottom: 42px;
    }
  }
}
