.main {
  display: flex;
  flex-direction: column;
}

.main__wrapper {
  width: 100%;
  display: flex;
  background-image: url("../img/png/bg-main-desktop@1x.png");
  background-size: cover;
  background-color: $color-dark-blue;
  background-repeat: no-repeat;
  background-position: bottom;
  margin-top: -124px;
  padding-top: 124px;
  overflow: hidden;

  @include retina {
    background-image: url("../img/png/bg-main-desktop@2x.png");
  }

  @include tablet {
    background-image: url("../img/png/bg-main-tablet@1x.png");
    margin-top: -98px;
    padding-top: 98px;

    @include retina {
      background-image: url("../img/png/bg-main-tablet@2x.png");
    }

    @include mobile {
      background-image: url("../img/png/bg-main-mobile@1x.png");

      @include retina {
        background-image: url("../img/png/bg-main-mobile@2x.png");
      }
    }
  }
}

.main__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("../img/svg/bg-features-desktop.svg");
  background-position: -296px -29px;
  background-repeat: no-repeat;
  padding-top: 112px;
  padding-bottom: 110px;

  @include tablet {
    background-image: url("../img/svg/bg-features-tablet.svg");
    background-position: 211px 90px;
    padding-top: 54px;
    padding-bottom: 84px;
  }

  @include mobile {
    padding-top: 37px;
  }
}
