.page {
  display: grid;
  min-height: 100%;
  grid-template-columns: repeat(auto-fit, minmax(320px, 100%));
  grid-template-rows: min-content 1fr min-content;
  overflow-x: hidden;
  overscroll-behavior-x: none;
}

.page__header {
  width: 100%;
}

.page__main {
  width: 100%;
}

.page__footer {
  width: 100%;
}
